<div class="content-wrapper" style="min-height: 956px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      Payment Reconsilation
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Payment Reconsilation</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- right column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box">
            <!-- form start -->
           
              <div class="box-body">
                <div class="form-group" style="margin-bottom:0px">
                  <label for="inputEmail3" style="text-align: left;" class="col-sm-3 control-label">Payment Reconsilation</label>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-primary">Upload</button>
                  </div>
                </div>
                
                
              </div>
              <!-- /.box-body -->
              
            
          </div>
          <!-- /.box -->
          
      
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>




