<div class="login-page">
   <div class="login-box">
     <div class="login-logo">
       <b>LOTUS</b>
     </div>
     <!-- /.login-logo -->
     <div class="login-box-body">
       <!-- <h4 class="login-box-msg">Sign In</h4> -->
       
       <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="">
          <input formControlName= "loginIp" type="hidden" placeholder="Username" class="form-control" name="loginIp" id="loginIp" [value]="127.0.0.1" />
         <div class="form-group has-feedback">
            <input formControlName= "userName" type="text" placeholder="Username" class="form-control" name="userName" id="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
           <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
           <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
            <div *ngIf="f.userName.errors.required">Please enter username</div>
         </div>
         </div>
         <div class="form-group has-feedback">
            <input formControlName="password" type="password" class="form-control" placeholder="Password"  name="password" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
           <!-- <span class="glyphicon glyphicon-lock form-control-feedback"></span> -->
           <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Please enter password</div>
         </div>
         </div>
         <div class="row">
           <div class="col-xs-12 ">
            <button type="submit" mat-raised-button color="primary">Login</button>
           </div>
           <!-- <div class="col-xs-12 text-left">
            <a routerLink='forgotpass'>Forgot Password</a><br>
           </div> -->
           
           <!-- /.col -->
         </div>
       </form>
       <div class="login-fail">{{loginresult}}</div>
   
       <!-- <a href="#">Forgot Password</a><br> -->
       
   
     </div>
     <!-- /.login-box-body -->
   </div>
   <!-- /.login-box -->
   
 

   <!-- iCheck -->
   <script src="../../plugins/iCheck/icheck.min.js"></script>
   <script>
     $(function () {
       $('input').iCheck({
         checkboxClass: 'icheckbox_square-blue',
         radioClass: 'iradio_square-blue',
         increaseArea: '20%' /* optional */
       });
     });
   </script>
</div>