
  <aside class="main-sidebar hide">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a routerLink="/home">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
          <li>
            <a routerLink="/paymentadvicenote">
              <i class="fa fa-dashboard"></i> <span>Payment Advice Note</span>
            </a>
          </li>
        <li class="treeview" >
          <a href="#" routerLink="/udvdata">
            <i class="fa fa-upload"></i>
            <span>Upload Files</span>
          </a>
        </li>
        <li>
          <a routerLink="/viewhistory">
            <i class="fa fa-book"></i>
            <span>View Reports</span>
          </a>
        </li>
       
      </ul>
    </section>
  </aside>

