<p class="microsoft marquee" style="color: white;">Hello</p>
<header class="main-header ">
  <div class="boxed-layout-wrapper">  
      <!-- Logo -->
      <div class="logo-area">
          <div class="logo"></div>
      </div>
      <!-- clock -->
      <div class="clock">
          <time>Nov 25,2019 16:12:23 (+05:30)</time>
          <div class="clock-timezone-settings"></div>
      </div>
      <!-- info -->
      <div class="infobar">
        <ul class="linkbar">
          <li class="search-container">
            <div class="apl-form search">
              <i class="fa fa-search search-icon"></i>
              <input type="text" class="input-search" name="search" id="search" placeholder="Search Events" />
            </div>
          </li>
          <li>
              <p class="ng-binding">Logged in as np1007</p>
              <p class="last-login ng-binding">Last logged in: 
                <time>25/11/2019 15:51</time>
              </p>
          </li>
          <li class="-qa-setting-dropdown">
              <div class="wrap-dd-menu ng-scope">
                  <a href="account" name="account" class="account">
                    <i class="fa fa-cog header-link"></i>
                    <span>Account</span>
                  </a>
              </div>
          </li>
          <li>
              <a (click)="signout()" name="logout" class="logout"> 
                  <i class="fa fa-sign-out  header-link"></i>
                  <span>Logout</span>
              </a>
          </li>
        </ul>
      </div>
  </div>
  </header>