<div class="content-wrapper" style="min-height: 956px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dupliacate Payment
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dupliacate Payment</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- right column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box">
            <!-- form start -->
           
              <div class="box-body">
                  <div class="box">
                      <div class="box-header">
                         <h3 class="box-title">Duplicate Records</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                         <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                               <div class="col-sm-6">
                                  <div class="dataTables_length" id="example1_length">
                                     <label>
                                        Show 
                                        <select name="example1_length" [(ngModel)]="itemsPerPage" aria-controls="example1" class="form-control input-sm" >
                                           <option value="10">10</option>
                                           <option value="25">25</option>
                                           <option value="50">50</option>
                                           <option value="100">100</option>
                                        </select>
                                        entries
                                     </label>
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div id="example1_filter" class="dataTables_filter"><label>Search:&nbsp;<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label></div>
                               </div>
                            </div>
                            <div class="row">
                               <div class="col-sm-12 table-responsive">
                                  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                     <thead>
                                        <tr role="row">
                                           <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 182px;">Company Code</th>
                                           <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 224px;">PaymentRefNumber</th>
                                           <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 199px;">Vendor Code</th>
                                           <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 156px;">Vendor Name</th>
                                           <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 182px;">Payment Type</th>
                                           <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 224px;">Payment Mode</th>
                                           <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 199px;">Payment Date</th>
                                           <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 156px;">BatchRun ID</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        
                                        <tr *ngFor="let row of duplicateRecordsArr | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" role="row" class="odd">
                                           <td class="sorting_1">{{row.CompanyCode}}</td>
                                           <td>{{row.PaymentRefNumber}}</td>
                                           <td>{{row.VendorCode}}</td>
                                           <td>{{row.VendorName}}</td>

                                           <td>{{row.PaymentType}}</td>
                                           <td>{{row.PaymentMode}}</td>
                                           <td>{{row.PaymentDate}}</td>
                                           <td>{{row.BatchRunID}}</td>
                                           
                                        </tr>
                                     
                                     </tbody>
                                    
                                  </table>
                               </div>
                            </div>
                            <div class="row">
                               <div class="col-sm-5">
                                  <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{itemsPerPage}} of {{duplicateRecordsArr.length}} entries</div>
                               </div>
                               <div class="col-sm-7">
                                  <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                       <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- /.box-body -->
                </div>
                
                
              </div>
              <!-- /.box-body -->
              
           
          </div>
          <!-- /.box -->
          
      
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>



